.list {
  display: flex;
  max-height: 100%;
  border-radius: 5px 5px 0 0;
  flex-direction: column;
  background-color: #808a96;
  gap: 20px;
  padding: 2vw;
  box-sizing: border-box;
}
.list .card {
  border-radius: 5px;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}
.list .card input {
  margin-right: 1em;
  margin-left: 1em;
  height: 1.5em;
  width: 1.5em;
  transition: color 2s, text-shadow 2s, text-decoration-color 2s;
}
.list .card input:checked + p {
  color: #808a96;
  text-shadow: 0 0 1px #000;
  text-decoration: line-through;
  text-decoration-color: #000;
}

.empty {
  border-radius: 5px;
  width: 100%;
  background-color: rgba(255, 136, 136, 0.2666666667);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: not-allowed;
  box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5333333333);
  border: 1px solid #59595b;
  padding-left: 1em;
}

.edit {
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  width: 100%;
  background-color: #808a96;
  padding: 2vw;
  padding-top: 0px;
}
.edit input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  font-size: 1em;
  background-color: #ccc;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s 0.1s;
}
.edit input:hover {
  background-color: #fff;
}
.edit input:focus {
  background-color: #fff;
  box-shadow: 0 5px 10px 2px #000;
  overflow: scroll;
}
.edit input:disabled {
  background-color: rgba(204, 204, 204, 0.4);
  cursor: not-allowed;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-plus::before {
  content: "+";
}

body {
  background-color: #353535;
  font-size: 16px;
}

.outer {
  margin: 20px;
  border: 2px solid #59595b;
}

.navbar {
  background-color: #383c41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-left: 2vw;
  padding-right: 2vw;
}
.navbar .icons {
  color: #999999;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.container .left {
  flex-basis: 25%;
  max-width: 25%;
  width: 100%;
  background-color: #002;
  border-right: 2px solid #ebebeb;
  padding-left: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.container .left .list-o-lists {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  text-align: right;
}
.container .left .list-o-lists div {
  background-color: #383c41;
  border-radius: 5px 0 0 5px;
  padding-right: 5px;
  transition: background-color 0.2s, margin-left 0.5s;
  cursor: pointer;
}
.container .left .list-o-lists div p {
  margin: 0px;
  padding: 16px;
}
.container .left .list-o-lists div:hover {
  background-color: #808a96;
}
.container .left .list-o-lists input:checked + label > div {
  background-color: #808a96;
  margin-left: -2em;
}
.container .right {
  flex-basis: 75%;
  max-width: 75%;
  width: 100%;
  padding: 10px;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
