$gray:      #808a96;
$black:     #383c41;
$border:    #59595b;
$icons:     #999999;
$light-gray:#ebebeb;
$background:#353535;
$super-light-gray: #f8f8f8;
$fff:       #fff;

$textbox-dark: #ccc;
$navlist-back: $black;
$navlist-fore: $gray;

$card-disabled: #f884;
$textbox-disabled: #ccc6;
$error_boxshadow: #f008;