$gray:      #808a96;
$textbox-dark: #ddd;
$black:     #383c41;
$border:    #59595b;
$icons:     #999999;
$light-gray:#ebebeb;
$background:#353535;
$super-light-gray: #f8f8f8;
$fff:       #fff;

$navlist-back: $black;
$navlist-fore: $gray;