@use "_colors.scss" as col;

$card-bradius: 5px;

.list{
    display: flex;
    max-height: 100%;
    border-radius: $card-bradius $card-bradius 0 0;
    // width:100%;
    flex-direction: column;
    background-color: col.$gray;
    gap:20px;
    padding:2vw;
    box-sizing: border-box;
    
    
    .card{
        border-radius: $card-bradius;
        width: 100%;
        background-color: col.$card;
        // overflow: clip;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        
        input{
            margin-right: 1em;
            margin-left: 1em;
            height:1.5em;
            width: 1.5em;
            transition: color 2s, text-shadow 2s, text-decoration-color 2s;
        }
        input:checked+p{
            color: col.$gray;
            text-shadow: 0 0 1px #000;
            text-decoration: line-through;
            text-decoration-color: #000;
        }
    }
}



.empty{
    box-sizing: border-box;
    width: 100%;
    padding-left: 1em;

    border-radius: $card-bradius;
    background-color: col.$card-disabled;
    box-shadow: 0 0 20px 0 col.$error_boxshadow;
    border: 1px solid col.$border;
    cursor: not-allowed;
    // overflow: clip;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}





.edit{
    border-radius: 0 0 $card-bradius $card-bradius;
    box-sizing: border-box;
    width: 100%;
    background-color: col.$gray;
    padding:2vw;
    padding-top: 0px;
    input{
        width: 100%;
        height: 100%;
        margin:0;
        padding:5px;
        box-sizing: border-box;

        border-radius: $card-bradius;
        overflow: hidden;

        overflow-wrap: break-word;
        resize:none;
        font-size: 1em;
        // vertical-align: middle;
        
        background-color: col.$textbox-dark;
        border: none;

        transition: background-color .3s, box-shadow .3s.1s;
    }
    input:hover{
        background-color: col.$fff;

    }
    input:focus{
        background-color: col.$fff;
        box-shadow: 0 5px 10px 2px #000;
        overflow: scroll;
    }
    input:disabled{
        background-color: col.$textbox-disabled;
        cursor: not-allowed;
    }
}

.icon{
    width: 20px;
    height:20px;

}
.icon-plus::before{
    content: "+";
}