@use "_colors.scss" as col;

$card-bradius: 5px;







.list-nav{
    border-radius: $card-bradius;
    background-color: col.$gray;
    padding:2vw;
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-between;
    margin-bottom: 2em;

    h3{
        margin:0;
    }
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        color:unset;
    }
    *{
        // border: 1px dashed #0f0;
    }
}





.trash{
    border: 2px solid col.$drac-red;
    border-radius: $card-bradius;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.25em;
    background-color: col.$gray;
    box-sizing: border-box;

    transition: background-color 0.2s, border-radius 0.05s;

    
    position: relative;
    &:hover>.hide{
        max-width: 1000px;
        color: col.$drac-red;
        visibility: visible;
    }
    &:hover{
        background-color: col.$background;
        border-radius: $card-bradius $card-bradius 0 0;
    }

    .hide{
        max-width: 0px;
        overflow: hidden;
        visibility: hidden;
        white-space: nowrap;

        position: absolute;
        z-index: 1;
        top: 100%;
        left:-2px;

        border: 2px solid col.$drac-red;
        border-radius: 0 $card-bradius $card-bradius $card-bradius;
        padding: 0.25em;
        background-color: inherit;
        box-sizing: border-box;
        
        transition: width 0.3s, max-width 0.3s, color 0.4s 0.15s;
        
        display: flex;
        flex-wrap: nowrap;
        

        a{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-right: 1em;
            margin-left: 0.5em;
        }
        a:hover{
            color: col.$drac-pink;
        }
    }

}