@use "_colors.scss" as col;

$card-bradius: 5px;







.list-nav{
    border-radius: $card-bradius;
    background-color: col.$gray;
    padding-left:2vw;
    padding-right:2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-between;
    margin-bottom: 2em;

    h3{
        margin:0;
    }
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        color:unset;
    }
    *{
        // border: 1px dashed #0f0;
    }
}

@mixin button-base($color,$hover){
    margin-left: 0.5em;
    margin-right: 0.5em;

    border: 2px solid $color;
    border-radius: $card-bradius;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.25em;
    background-color: col.$gray;
    box-sizing: border-box;

    transition: background-color 0.2s, border-radius 0.05s;

    
    position: relative;
    &:hover .hide{
        max-width: 100vw;
        color: $color;
        visibility: visible;
        background-color: col.$background;
    }
    &:hover{
        background-color: col.$background;
        border-radius: $card-bradius $card-bradius 0 0;
    }

    .hide{
        max-width: 0px;
        overflow: hidden;
        visibility: hidden;
        white-space: nowrap;

        position: absolute;
        z-index: 1;
        top: 100%;
        left:-2px;

        border: 2px solid $color;
        border-radius: 0 $card-bradius $card-bradius $card-bradius;
        padding: 0.25em;
        background-color: col.$gray;
        box-sizing: border-box;
        
        transition: width 0.3s, max-width 0.6s, color 0.4s 0.1s;
        
        display: flex;
        flex-wrap: nowrap;
        

        a{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-right: 1em;
            margin-left: 0.5em;
        }
        a:hover{
            color: col.$drac-pink;
        }
    }
}


.trash{
    @include button-base(col.$drac-red, col.$drac-pink);
}
.sort{
    @include button-base(col.$drac-navy, col.$drac-white);
}

#list-name{
    // width:auto;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2em;
    font-weight: bold;
    color: col.$drac-purple;
    position: relative;
    padding-left: 4px;


    &:hover{
        box-shadow: 0 0 10px 2px col.$drac-black;
    }
    &:focus{
        box-shadow: 0 0 10px 6px col.$drac-black, inset 0 0 1px 1px col.$drac-purple;
        border:none;
    }

}