@use "_list.scss" as list;
@use "_colors.scss" as col;

$gray:      #808a96;
$black:     #383c41;
$border:    #59595b;
$icons:     #999999;
$light-gray:#ebebeb;
$background:#353535;
$super-light-gray: #f8f8f8;
$fff:       #fff;


$list-bradius:5px;

body{
    background-color: col.$background;
    font-size: 16px;
    margin: 0;
}


.outer{
    margin: 20px;
    border: 2px solid col.$border;
}
.navbar{
    background-color: col.$black;
    // border-bottom: 2px solid col.$dracpro-super-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:col.$fff;

    padding-left: 2vw;
    padding-right: 2vw;

    .icons{
        color:col.$icons;
    }
}

.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .left{
        flex-basis: 25%;
        max-width: 25%;
        width: 100%;

        background-color: col.$navlist-back;
        border-right: 2px solid col.$border-lr;
        
        padding-left: 5em;
        padding-top: 2em;
        padding-bottom: 2em;

        box-sizing: border-box;
        overflow-y: scroll;
        max-height: calc(100vh - 44px - 3em - 4px);
        transition: max-height 1s;
        transition-timing-function: cubic-bezier(.17,.84,.44,1);

        .list-o-lists{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 10px;
            text-align: right;


            div{
                box-shadow: -5px 4px 4px -2px col.$drac-gray;
                background-color: col.$navlist-notselected;
                border-radius: $list-bradius 0 0 $list-bradius;
                padding-right: 5px;
                transition: background-color 0.2s, margin-left 0.5s;
                cursor: pointer;

                p{
                    margin: 0px;
                    padding: 16px;
                }
            }

            div:hover{
                background-color: col.$navlist-fore;
            }

            input:checked + label>div{
                background-color: col.$navlist-fore;
                margin-left: -2em;
            }
        }


    }
    .right{
        flex-basis: 75%;
        max-width: 75%;
        width: 100%;
        padding:10px;
        background-color: transparent;
        
        box-sizing: border-box;
        overflow-y: scroll;
        max-height: calc(100vh - 44px - 3em - 4px);
        transition: max-height 1s;
        transition-timing-function: cubic-bezier(.17,.84,.44,1);
    }
}